.t1{
    width: 60px;
    height: 60px;
}
nav{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
ol{
    width: 80px;
    height: 22px;
    display: flex;
    color: white;
    
}
.oxs{
    text-align: center  ;
}
img{
    width:170px;
    height:180px;
    display:flex;
}
.hh{
    width: 200px;
    height: 200px;
}

img{
    display: flex;
}
.t1{
    width: 60px;
    height: 60px;
}
nav{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
ol{
    width: 380px;
    height: 22px;
    display: flex;
    color: white;
}
main{
    display:flex 
}